@use "mixins/_display.scss" as display;
@use "mixins/_font.scss" as font;

.header {
  @include display.display($display: flex, $direction: column, $mainAxis: center, $gap: 12px);

  text-align: center;

  & > .textBlock {
    @include display.display(flex, column, $gap: 8px);

    @include font.title-3("default");
    color: var(--text-primary);

    .hint {
      @include font.label("weaker");
      color: var(--text-5);
    }
  }

  & > .emailBlock {
    @include display.display($display: flex, $mainAxis: center, $sideAxis: center);
    height: 37px;

    color: var(--text-2);
  }
}

.verifyBlock {
  @include display.display(flex, column, center, center, 16px);

  width: 100%;
}

.backButton {
  width: 100%;
}
