@use "mixins/_display.scss" as display;
@use "mixins/_effect.scss" as effect;

$modalWidth: 420px;

.popupWrapper {
  max-width: $modalWidth;
  width: 100%;

  .modal {
    padding: 32px;

    max-width: $modalWidth;
    width: 100%;

    height: fit-content;

    position: relative;
    background-color: var(--bg-1);
    border-radius: var(--radius-popup);

    color: var(--text-primary);
    letter-spacing: 1px;

    @include effect.elevation-modal();

    .content {
      @include display.display(flex, column, center, center, 24px);

      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }
}
