@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.contentWrapper {
  @include flex.display(flex, column, $gap: var(--auth-gap));

  width: var(--max-content-width);

  .header {
    @include flex.display(flex, column, center);

    .title {
      @include font.title-3('default');

      text-align: center;

      .flippo {
        color: var(--brand-light);
      }
    }

    .status {
      opacity: 0;
      height: 0;

      @include flex.display(flex, row, center);

      transition:
        opacity 0.3s ease,
        height 0.3s ease,
        padding-top 0.3s ease;

      .loader {
        width: 24px;
        aspect-ratio: 1;
      }
    }

    .showStatus {
      padding-top: 24px;
      opacity: 1;

      height: fit-content;
    }
  }

  .buttonContainer {
    @include flex.display(flex, column, center, $gap: 10px);

    width: 100%;

    color: var(--text-2);
  }

  .separator {
    @include flex.display(flex, row, center, center, 16px);
    @include font.label('default');

    position: relative;

    width: 100%;
    color: var(--text-5);
  }

  .emailForm {
    @include flex.display(flex, column, center, $gap: 16px);

    width: 100%;
  }

  .invalidEmailForm {
    gap: 24px;
  }
}
