.input_group {
  position: relative;
  font-size: 1rem;
  line-height: 150%;

  & > .error {
    color: var(--feedback-notification);
    opacity: 0;
    height: 0;
    transition:
      opacity 0.3s ease,
      height 0.3s ease,
      padding 0.3s ease;
  }

  .showError {
    padding: 8px 20px 0 20px;
    height: calc(1lh + 8px);
    opacity: 1;
  }
}

.input {
  background-color: var(--neutral-12);
  border-radius: var(--border-button);
  width: 100%;
  transition: 0.3s ease;
  padding: 16px 20px;
  caret-color: var(--brand-30);
  color: var(--neutral-white);
  border: 1.5px solid transparent;

  &.invalid {
    border-color: var(--feedback-notification);
    caret-color: var(--feedback-notification);
  }

  &:where(:focus):not(.invalid) {
    border-color: var(--brand-30);
  }
}

.label {
  position: absolute;
  top: 16px;
  left: 12px;
  padding: 0 4px;
  transition: 0.1s ease;
  color: var(--neutral-40);
  pointer-events: none;
  background-color: transparent;
}
