@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.error {
  @include flex.display(flex, column, center, center, var(--auth-gap));

  width: var(--max-content-width);

  .errorHeader {
    fill: var(--error);
    color: var(--error);
    text-align: center;

    @include flex.display(flex, column, center, center, 16px);

    width: 100%;

    .title {
      @include font.title-3('default');
    }

    svg {
      width: 72px;
      height: 72px;
    }

    & > div {
      @include flex.display(flex, column, $gap: 8px);

      width: 100%;

      .errorMessage {
        @include font.label('weaker');
        color: var(--text-5);
      }
    }
  }

  .buttonContainer {
    @include flex.display(flex, column, $gap: 10px);

    width: 100%;
  }
}
