@use 'mixins/_flex.scss' as flex;

@mixin alignToast() {
  @include flex.display(flex, row, center, center, 12px);
}

.toast {
  @include alignToast();

  border-radius: var(--radius-popup);
  background-color: var(--bg-1);

  padding: 8px 8px 8px 16px;

  width: 512px;
  min-height: 56px;

  color: var(--text-primary);

  box-shadow: 0 10px 40px 14px rgba($color: #000, $alpha: 0.25);

  .content {
    @include alignToast();

    width: 100%;

    .statusIcon {
      display: flex;
      fill: currentColor;

      width: 20px;
      height: 20px;
    }

    .text {
      width: 100%;

      -webkit-hyphens: auto;
      hyphens: auto;
      overflow-wrap: break-word;
      word-break: break-word;

      font-size: 14px;
      line-height: 160%;
      font-weight: 500;

      align-self: center;
    }

    &.success {
      color: var(--success);
    }

    &.warning {
      color: var(--warning);
    }

    &.error {
      color: var(--error);
    }
  }

  .action {
    @include alignToast();
  }
}
