@use 'mixins/_flex.scss' as flex;

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.paddingRight-0 {
  padding-right: 0px;
}

.clearButton {
  height: 100%;
  aspect-ratio: 1;

  @include flex.display(flex, row, center, center);
}
