.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;
  width: 100%;

  text-align: center;

  .info {
    color: var(--neutral-50);
  }
}

.usernameForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
  width: 100%;

  &.invalidUsernameFrom {
    gap: 24px;
  }
}
