@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.menuItem {
  @include flex.display(flex, row, start, center, 16px);
  @include font.bodyMinus('default');

  background: transparent;
  fill: currentColor;

  min-height: 48px;
  padding: 8px 20px;
  border-radius: var(--radius-menu-item);

  &:hover:not(:disabled) {
    background: var(--bg-3-alt);
  }

  &:active:not(:disabled) {
    background: var(--bg-2-hover);
    outline: unset;
  }

  &:focus-visible {
    outline: 1.5px solid var(--brand-light);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.nonDestructive {
    color: var(--text-3);

    &:hover:not(:disabled) {
      color: var(--text-2);
    }

    &:active:not(:disabled) {
      color: var(--text-4);
    }

    &:focus-visible {
      color: var(--text-white);
    }

    &:disabled {
      color: var(--text-disabled);
    }

    &.selected[role='option'] {
      background: var(--bg-3-alt);
      color: var(--text-white);
      fill: var(--brand-light);
    }
  }

  &.destructive {
    color: var(--error);

    &:hover:not(:disabled) {
      color: var(--error-hover);
    }

    &:disabled {
      color: var(--text-disabled);
    }
  }

  svg {
    width: 21px;
    aspect-ratio: 1;
  }
}
