.separatorWrap {
  align-self: normal;
  display: flex;

  .separator {
    border-radius: 8px;
    margin: 0;
  }

  &.horizontal {
    flex-direction: column;
    padding: 5px 0;

    align-self: center;
    width: 100%;

    &.spacing-4 {
      padding: 5px 4px;
    }

    &.spacing-6 {
      padding: 5px 6px;
    }

    &.spacing-8 {
      padding: 5px 8px;
    }

    &.spacing-10 {
      padding: 5px 10px;
    }

    &.spacing-12 {
      padding: 5px 12px;
    }

    .separator {
      border-bottom: 1px solid rgba(61, 64, 77, 0.3);
      border-top: 1px solid rgba(61, 64, 77, 0.3);

      border-left: unset;
      border-right: unset;

      height: 0;
      width: 100%;
    }
  }

  &.vertical {
    display: inline-flex;
    padding: 0 5px;

    &.spacing-4 {
      padding: 4px 5px;
    }

    &.spacing-6 {
      padding: 6px 5px;
    }

    &.spacing-8 {
      padding: 8px 5px;
    }

    &.spacing-10 {
      padding: 10px 5px;
    }

    &.spacing-12 {
      padding: 12px 5px;
    }

    .separator {
      border-bottom: unset;
      border-top: unset;

      border-left: 1px solid rgba(61, 64, 77, 0.3);
      border-right: 1px solid rgba(61, 64, 77, 0.3);

      min-height: 100%;
      max-height: 100vh;
    }
  }
}
