@mixin display($flex: flex, $direction: null, $mainAxis: null, $sideAxis: null, $gap: null) {
  display: $flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $mainAxis {
    justify-content: $mainAxis;
  }

  @if $sideAxis {
    align-items: $sideAxis;
  }

  @if $gap {
    gap: $gap;
  }
}
