@use "mixins/_display.scss" as display;
@use "mixins/_font.scss" as font;

@mixin variantLink($defaultColor, $hoverColor, $activeColor) {
  color: $defaultColor;
  fill: currentColor;

  &:hover {
    .text {
      color: $hoverColor;
    }
  }

  &:active {
    .text {
      color: $activeColor;
    }
  }
}

.anchor {
  @include display.display(inline-flex, row, center, center, 12px);
  @include font.bodyMinus("default");

  svg {
    width: 21px;
    aspect-ratio: 1;
  }

  .text {
    @include display.display(flex, row, center, center, 6px);

    &.neutral {
      @include variantLink(var(--text-2), var(--brand-light), var(--brand));
    }

    &.brand {
      @include variantLink(var(--brand-light), var(--brand-light-hover), var(--brand-light));
    }
  }
}
