$feedback-success: #31be42;
$feedback-alert: #d6ae12;
$feedback-notification: #d3401b;

$misc-red-darker: #e52222;
$misc-red-default: #ff4141;
$misc-red-lighter: #ff5959;

$misc-warm-red-darker: #ba2a06;
$misc-warm-red-default: #d3401b;
$misc-warm-red-lighter: #ed5b37;

$misc-green-darker: #1ba62b;
$misc-green-default: #31be42;
$misc-green-lighter: #4ed95e;

$misc-yellow-darker: #bd9600;
$misc-yellow-default: #d6ae12;
$misc-yellow-lighter: #f0c82b;

$misc-golden-darker: #857938;
$misc-golden-default: #9e9352;
$misc-golden-lighter: #b8ab5f;

$brand-10: #d8cbf2;
$brand-20: #b698f3;
$brand-30: #9265ed;
$brand-40: #662fd3;
$brand-50: #410cac;
$brand-60: #320787;
$brand-70: #2a0573;
$brand-80: #20025d;
$brand-90: #1b0050;

$neutral-white: #ffffff;
$neutral-95: #f2f2f2;
$neutral-90: #e5e5e5;
$neutral-80: #cccccc;
$neutral-70: #aaacb3;
$neutral-60: #8a8c99;
$neutral-50: #737580;
$neutral-40: #575966;
$neutral-30: #3d404d;
$neutral-25: #333540;
$neutral-22: #2d2f38;
$neutral-20: #292a33;
$neutral-18: #25262e;
$neutral-16: #212229;
$neutral-14: #1d1e24;
$neutral-12: #181a1f;
$neutral-10: #14151a;
$neutral-5: #0a0b0d;
$neutral-black: #000000;

.colors {
  --brand: #{$brand-50};
  --brand-hover: #{$brand-40};
  --brand-light: #{$brand-30};
  --brand-light-hover: #{$brand-10};

  --bg-0: #{$neutral-10};
  --bg-area-muted: #{$neutral-12};
  --bg-area-subtle: #{$neutral-14};
  --bg-area: #{$neutral-16};

  --bg-1: #{$neutral-16};
  --bg-1-hover: #{$neutral-18};

  --bg-2: #{$neutral-18};
  --bg-2-hover: #{$neutral-20};

  --bg-3: #{$neutral-25};
  --bg-3-hover: #{$neutral-30};
  --bg-3-alt: #{$neutral-22};

  --stroke: #{$neutral-30};
  --stroke-transparent: rgba($color: $neutral-30; $alpha: 0.3);
  --stroke-hover: #{$neutral-40};
  --stroke-muted: #{$neutral-16};
  --stroke-subtle: #{$neutral-20};

  --text-white: #{$neutral-white};
  --text-primary: #{$neutral-90};
  --text-2: #{$neutral-80};
  --text-3: #{$neutral-70};
  --text-4: #{$neutral-60};
  --text-5: #{$neutral-50};
  --text-6: #{$neutral-40};
  --text-disabled: #{$neutral-30};

  --set: #{$brand-30};
  --folder: #{$misc-golden-default};
  --success: #{$misc-green-default};
  --success-hover: #{$misc-green-lighter};
  --error: #{$misc-warm-red-default};
  --error-hover: #{$misc-warm-red-lighter};
  --warning: #{$misc-yellow-default};
  --warning-hover: #{$misc-yellow-lighter};
  --like: #{$misc-red-default};
  --like-hover: #{$misc-red-lighter};

  --feedback-success: #{$feedback-success};
  --feedback-alert: #{$feedback-alert};
  --feedback-notification: #{$feedback-notification};
}
