$border-button: 9999px;
$border-card: 16px;
$border-field: 24px;
$border-full: 100%;

.borders {
  --border-button: #{$border-button};
  --border-card: #{$border-card};
  --border-field: #{$border-field};
  --border-full: #{$border-full};
}
