@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.success {
  @include flex.display(flex, column, space-between, center, var(--auth-gap));

  width: 266px;

  fill: var(--success);
  color: var(--success);

  text-align: center;

  .title {
    @include font.title-3('default');
  }

  .hint {
    @include flex.display(flex, row, center, end, 1px);
    @include font.title-3('default');

    flex-wrap: nowrap;

    color: var(--text-primary);

    svg {
      width: 20px;
      aspect-ratio: 1;
      transform: translateY(-1px);
    }
  }

  svg {
    width: 72px;
    aspect-ratio: 1;
  }
}
