@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.groups {
  @include flex.display(flex, row, center, baseline, 32px);

  flex-wrap: wrap;

  .group {
    &:nth-child(n + 2) {
      margin-top: 20px;
    }

    .groupName {
      color: var(--text-primary);
      @include font.title-2('stronger');

      margin-bottom: 12px;
    }

    .groupVariants {
      @include flex.display(flex, $gap: 16px);

      .variantName {
        align-self: center;
        color: var(--text-2);
        @include font.bodyPlus('stronger');
      }

      .variant {
        @include flex.display(flex, column, $gap: 16px);
        @include font.label('default');

        flex-wrap: wrap;
      }

      flex-wrap: wrap;
    }
  }
}
