.button {
  padding: 16px 18px;

  border-radius: var(--border-button);

  width: 100%;
  color: var(--neutral-80);
  background-color: var(--neutral-25);
  line-height: 150%;

  transition: 0.3s ease;

  & > .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    & > .icon {
      position: absolute;
      left: 0;
    }
  }

  &:hover {
    background-color: var(--neutral-white);
    color: var(--neutral-black);
  }
}
