@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.button {
  padding: 16px 18px;

  border-radius: var(--radius-button);

  width: 100%;
  color: var(--text-2);
  background-color: var(--bg-3);

  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  @include font.body('stronger');

  & > .content {
    position: relative;
    @include flex.display(flex, row, center, center);

    & > .icon {
      position: absolute;
      left: 0;
    }
  }

  &:hover {
    background-color: var(--text-white);
    color: var(--bg-0);
  }
}
