.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 24px;
  width: 100%;

  .flippo {
    color: var(--brand-20);
  }
}

.error {
  fill: var(--feedback-notification);
  color: var(--feedback-notification);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
  width: 100%;

  svg {
    width: 100px;
    height: 100px;
  }
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.icon {
  fill: var(--feedback-success);
  svg {
    width: 150px;
    height: 150px;
  }
}
