@use 'mixins/_flex.scss' as flex;
@use 'mixins/_effect.scss' as effect;

.menu {
  @include flex.display(flex, column, center, start, 2px);
  @include effect.elevation-1();

  position: absolute;
  z-index: 100;

  width: fit-content;
  min-width: max-content;
  padding: 6px;
  border-radius: var(--radius-menu);
  margin: 0;

  background: var(--bg-1);

  .item {
    width: 100%;
    border-radius: var(--radius-menu-item);

    padding: unset;
    margin: unset;
    border: unset;
    background: unset;

    &:focus-visible {
      outline: 1.5px solid var(--brand-light);
    }
  }

  .group {
    @include flex.display(flex, column, center, start, 2px);

    width: 100%;
  }

  .target {
    width: fit-content;
    height: fit-content;
  }
}
