.primary:disabled {
  background-color: var(--brand);
  color: var(--text-white);
}

.secondary:disabled {
  background-color: var(--bg-3);
  color: var(--text-2);
}

.outlined:disabled {
  outline: 1.5px solid var(--stroke);
  color: var(--text-3);
}

.label:disabled {
  color: var(--text-3);
  background-color: transparent;
}

.primary:disabled,
.label:disabled,
.outlined:disabled,
.label:disabled {
  cursor: not-allowed;
}
