@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.link {
  @include flex.display(flex, row, start, center, 16px);

  width: 100%;
  border-radius: var(--radius-button);

  fill: currentColor;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    fill 0.3s ease;

  &:focus-visible:not(:disabled) {
    outline: 1.5px solid var(--brand-light);
  }

  &:disabled {
    color: var(--text-disabled);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background: var(--bg-2);
    color: var(--text-2);
  }

  &:active:not(:disabled) {
    background: var(--bg-1);
  }

  &.inactiveLink {
    background: transparent;
    color: var(--text-3);
  }

  &.activeLink {
    background: var(--bg-2);
    color: var(--text-white);
    fill: var(--brand-light);
  }

  &.large {
    @include font.body('stronger');

    padding: 16px 20px;

    svg {
      width: 24px;
      aspect-ratio: 1;
    }
  }

  &.small {
    @include font.bodyMinus('default');

    padding: 13.5px 20px;

    svg {
      width: 21px;
      aspect-ratio: 1;
    }
  }
}
