@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.contentWrapper {
  @include flex.display(flex, column, $gap: var(--auth-gap));

  width: var(--max-content-width);

  .header {
    @include flex.display(flex, column, center, $gap: 8px);

    width: 100%;

    text-align: center;

    .title {
      @include font.title-3('default');
    }

    .hint {
      @include font.label('weaker');
      color: var(--text-5);
    }
  }

  .usernameForm {
    @include flex.display(flex, column, center, $gap: 10px);

    width: 100%;

    &.invalidUsernameFrom {
      gap: 24px;
    }
  }
}
