$c-feedback-success: #31be42;
$c-feedback-alert: #d6ae12;
$c-feedback-notification: #d3401b;

$c-brand-10: #d8cbf2;
$c-brand-20: #b698f3;
$c-brand-30: #9265ed;
$c-brand-40: #662fd3;
$c-brand-50: #410cac;
$c-brand-60: #320787;
$c-brand-70: #2a0573;
$c-brand-80: #20025d;
$c-brand-90: #1b0050;

$c-neutral-white: #ffffff;
$c-neutral-95: #f2f2f2;
$c-neutral-90: #e5e5e5;
$c-neutral-80: #cccccc;
$c-neutral-70: #aaacb3;
$c-neutral-60: #8a8c99;
$c-neutral-50: #737580;
$c-neutral-40: #575966;
$c-neutral-30: #3d404d;
$c-neutral-25: #333540;
$c-neutral-22: #2d2f38;
$c-neutral-20: #292a33;
$c-neutral-18: #25262e;
$c-neutral-16: #212229;
$c-neutral-14: #1d1e24;
$c-neutral-12: #181a1f;
$c-neutral-10: #14151a;
$c-neutral-5: #0a0b0d;
$c-neutral-black: #000000;

.colors {
  --feedback-success: #{$c-feedback-success};
  --feedback-alert: #{$c-feedback-alert};
  --feedback-notification: #{$c-feedback-notification};

  --brand-10: #{$c-brand-10};
  --brand-20: #{$c-brand-20};
  --brand-30: #{$c-brand-30};
  --brand-40: #{$c-brand-40};
  --brand-50: #{$c-brand-50};
  --brand-60: #{$c-brand-60};
  --brand-70: #{$c-brand-70};
  --brand-80: #{$c-brand-80};
  --brand-90: #{$c-brand-90};

  --neutral-white: #{$c-neutral-white};
  --neutral-95: #{$c-neutral-95};
  --neutral-90: #{$c-neutral-90};
  --neutral-80: #{$c-neutral-80};
  --neutral-70: #{$c-neutral-70};
  --neutral-60: #{$c-neutral-60};
  --neutral-50: #{$c-neutral-50};
  --neutral-40: #{$c-neutral-40};
  --neutral-30: #{$c-neutral-30};
  --neutral-25: #{$c-neutral-25};
  --neutral-22: #{$c-neutral-22};
  --neutral-20: #{$c-neutral-20};
  --neutral-18: #{$c-neutral-18};
  --neutral-16: #{$c-neutral-16};
  --neutral-14: #{$c-neutral-14};
  --neutral-12: #{$c-neutral-12};
  --neutral-10: #{$c-neutral-10};
  --neutral-5: #{$c-neutral-5};
  --neutral-black: #{$c-neutral-black};
}
