@use 'mixins/_flex.scss' as flex;
@use 'mixins/_font.scss' as font;

.verifyInput {
  @include flex.display(flex, row, center, center, 12px);
  @include font.title-2('default');

  color: var(--text-primary);

  cursor: text;

  &:hover:not(:focus-within) {
    .verifyInputSlot {
      background: var(--bg-area-subtle);

      &:placeholder-shown {
        outline: 1.5px solid var(--stroke);
      }
    }
  }

  .verifyInputSlot {
    outline: 1.5px solid transparent;
    border-radius: var(--radius-card);

    text-align: center;

    background-color: var(--bg-area-muted);

    padding: 16px 0px;
    height: 80px;
    max-width: 61.6px;

    &:where(:focus, :not(:placeholder-shown)) {
      outline-color: var(--brand-light);
      color: var(--text-white);
    }

    &::selection {
      background-color: var(--brand-light);
    }

    &:read-only {
      pointer-events: none;
    }

    &.invalid {
      transition: outline-color 0.5s ease;
      outline-color: var(--error);

      caret-color: var(--error);

      &::selection {
        background-color: var(--error);
      }
    }

    &.valid {
      transition: outline-color 0.5s ease;
      outline-color: var(--success);

      &::selection {
        background-color: var(--success);
      }
    }
  }

  &.invalid {
    animation: invalidCode 0.5s 1 ease-out normal;
  }

  &.valid {
    animation: validCode 0.5s 1 ease-out normal;
  }
}

@keyframes invalidCode {
  0% {
    transform: translateX(0px);
  }
  5% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(8px);
  }
  20% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(4px);
  }
  50% {
    transform: translate(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes validCode {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
